/* Default properties for main body */
body {
  background: rgb(2, 15, 18);
  color: #333;
  font-family: Helvetica, sans-serif;
}
/* ul properties for removing styles  */
ul {
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
}
/* Aligning ul -> li <text> SHADOW effect */
li {
  position: absolute;
  transform-origin: 50% 100%;
  height: 160px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
/* Defining font and letter properties */
.hours {
  left: 120px;
  font-size: 23.3333333333px;
  letter-spacing: -1.6px;
  line-height: 45px;
}

.hours li {
  width: 80px;
}
/* Assigning span element as a block and radius to 50% */
.hours span {
  display: inline-block;
  /* box-shadow: 1px 2px 1px 1px #d4e914; */
  border-radius: 50%;
}
