/* Default properties for main body */
body {
  background: rgb(2, 15, 18);
  color: #333;
  font-family: Helvetica, sans-serif;
}
/* ul properties for removing styles  */
ul {
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
}
/* Aligning ul -> li <text> SHADOW effect */
li {
  position: absolute;
  transform-origin: 50% 100%;
  height: 160px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
/* Defining font and letter properties */
.hours {
  left: 120px;
  font-size: 23.3333333333px;
  letter-spacing: -1.6px;
  line-height: 45px;
}

.hours li {
  width: 80px;
}
/* Assigning span element as a block and radius to 50% */
.hours span {
  display: inline-block;
  /* box-shadow: 1px 2px 1px 1px #d4e914; */
  border-radius: 50%;
}
/* Rotating list of item 1 by 30 :D */
.hours li:nth-of-type(1) {
  transform: rotate(30deg);
}
/* Rotating span element by -30 deg to approach Straight sight */
.hours li:nth-of-type(1) span {
  transform: rotate(-30deg);
}
.hours li:nth-of-type(2) {
  transform: rotate(60deg);
}
.hours li:nth-of-type(2) span {
  transform: rotate(-60deg);
}
.hours li:nth-of-type(3) {
  transform: rotate(90deg);
}
.hours li:nth-of-type(3) span {
  transform: rotate(-90deg);
}
.hours li:nth-of-type(4) {
  transform: rotate(120deg);
}
.hours li:nth-of-type(4) span {
  transform: rotate(-120deg);
}
.hours li:nth-of-type(5) {
  transform: rotate(150deg);
}
.hours li:nth-of-type(5) span {
  transform: rotate(-150deg);
}
.hours li:nth-of-type(6) {
  transform: rotate(180deg);
}
.hours li:nth-of-type(6) span {
  transform: rotate(-180deg);
}
.hours li:nth-of-type(7) {
  transform: rotate(210deg);
}
.hours li:nth-of-type(7) span {
  transform: rotate(-210deg);
}
.hours li:nth-of-type(8) {
  transform: rotate(240deg);
}
.hours li:nth-of-type(8) span {
  transform: rotate(-240deg);
}
.hours li:nth-of-type(9) {
  transform: rotate(270deg);
}
.hours li:nth-of-type(9) span {
  transform: rotate(-270deg);
}
.hours li:nth-of-type(10) {
  transform: rotate(300deg);
}
.hours li:nth-of-type(10) span {
  transform: rotate(-300deg);
}
.hours li:nth-of-type(11) {
  transform: rotate(330deg);
}
.hours li:nth-of-type(11) span {
  transform: rotate(-330deg);
}
.hours li:nth-of-type(12) {
  transform: rotate(360deg);
}
.hours li:nth-of-type(12) span {
  transform: rotate(-360deg);
}
/* Clock properties and positioning to relative */
#clock {
  background: radial-gradient(green 20%, yellow 80%);
  border: 10px double #0c9e2ba5;
  border-radius: 50%;
  position: relative;
  width: 320px;
  height: 320px;
  margin: 100px auto;
}
/* JavaScript pre-rotates these wrappers instead of the hands when getting the time at load. If it pre-rotates the hands, then the hands will not perform 1 turn at their normal speeds. */
.hr-wrapper,
.min-wrapper,
.sec-wrapper {
  position: absolute;
  width: 320px;
  height: 320px;
}

.hand {
  position: absolute;
  bottom: 50%;
  transform-origin: 50% 100%;
}

/* Defining div.hr-wrapper.hr properties */
.hr {
  background: rgb(17, 86, 3);
  left: 152px;
  width: 13px;
  height: 105px;
  border-radius: 40%;
  border: 2px double rgb(14, 9, 1);
  animation: rotateHand 1000s linear infinite;
}

.hr:after {
  background: rgb(3, 17, 1);
  border-radius: 40%;
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 13px;
  height: 16px;
}

/* Defining div.min-wrapper.min properties */
.min {
  background: rgb(17, 86, 3);
  left: 155px;
  width: 9px;
  height: 125px;
  border-radius: 40%;
  border: 2px double rgb(14, 9, 1);
  animation: rotateHand 600s linear infinite;
}

.min:after {
  background: rgb(3, 17, 1);
  border-radius: 40%;
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 9px;
  height: 16px;
}

/* Defining div.sec-wrapper.sec properties */
.sec {
  background: rgba(248, 5, 5, 0.756);
  left: 156.5px;
  width: 5px;
  height: 132px;
  border-radius: 40%;
  border: 2px double rgb(14, 9, 1);
  animation: rotateHand 60s linear infinite;
}

.sec:after {
  background: rgb(14, 9, 1);
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  bottom: -3.5px;
  width: 5px;
  height: 7px;
}
